@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-bkg: 19 23 46;
    --secondary-bkg: 27 32 64;
    --color-content: 255 255 255;
    --color-accent1: 4 217 139;
    --color-accent2: 242 86 29;
    --container-bkg: 226 232 240;
    --container-text: 0 0 0;
  }
}

.light {
  --primary-bkg: 226 232 240;
  --secondary-bkg: 19 23 46;
  --color-content: 0 0 0;
  --color-accent1: 4 217 139;
  --color-accent2: 242 86 29;
  --container-bkg: 19 23 46;
  --container-text: 226 232 240;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
